@darkGray: #222;

body {
    background: radial-gradient(#383838, @darkGray);

    #logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
        color: white;
        text-align: center;
        font-family: "ff-providence-sans-web-pro", sans-serif;
        font-weight: 400;
        font-size: 5em;
        text-shadow: 3px 4px black;
    }
}